<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">

    <script th:src="@{/bootstrap/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/scripts.js}" type="text/javascript"></script>
    <script th:src="@{/js/chart.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/demo/chart-area-demo.js}" type="text/javascript"></script>
    <script th:src="@{/assets/demo/chart-bar-demo.js}" type="text/javascript"></script>
    <script th:src="@{/js/simple-datatables.js}" type="text/javascript"></script>
    <script th:src="@{/js/datatables-simple-demo.js}" type="text/javascript"></script>
</div>